/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(44, 42, 42);
    height: 100vh;
}

.interface{
    margin: 0 auto;
}

.imagem-logo-agnuz{
    width: 140px;
}


/* ESTILO DO CABEÇALHO*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
}