/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

body {
    background: linear-gradient(40deg, #060606,#2d2e2e,#464647,#6b6b6c,#969798);
    animation: colors 15s ease alternate infinite;
    place-items: center;
    min-height: 100vh;
    justify-content: center;
    background-size: 300% 300%;
}

@keyframes colors{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 40%;
    }
}

.interface {
    margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #e7ce2e;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
    word-spacing: 5px;
}

h2.titulo span{
    color: #c3aa08;
}


/* ESTILO DO CABEÇALHO*/


.imagem-logo-agnuz {
    width: 350px;
    padding: 20px 4%;
}

.imagem-logo-agnuz:hover {
    transform: scale(1.60);
    transition: .7s;
}

header {
    padding: 30px 4%;
}

header>.interface {
    display: flex;
    justify-content: space-between;
}

header>.interface .btn-contato{
    display: flex;
    gap: 30px;
}

.interface-int li a {
    color: #bab9b9;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.interface-int li a::after{
    content: " ";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

.interface-int ul li a:hover::after {
    width: 110%;
    background-color: white;
}

.interface-int ul li a:hover {
    width: 110%;
    color: white;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
    /* A propriedade CSS define o marcador (como um disco, caractere ou estilo de contador personalizado) de um elemento de item de lista.list-style-type */
}

header nav ul li {
    display: inline-block;
    padding: 15px 40px;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 5px #ffdd00;
    transform: scale(1.00);
    transition: .2s;
}


/* ESTILO DO TOPO DO SITE */


section.topo-do-site{
    padding: 85px 7%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(249, 248, 246);
    text-shadow: #cb09b5 4px 2px 2px;
}

.topo-do-site h2{
    color: rgb(176, 173, 173);
    font-weight: 400;
}

.topo-do-site h2 span{
    font-weight: 980;
}


.destaque-foco {
    font-weight: 980;
}

.topo-do-site .txt-topo-site p{
    color: rgb(176, 173, 173);
    margin: 50px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: levitar 3s ease-in-out infinite alternate;
    box-shadow: 10px 15px 10px #cb09b480;
    border-radius: 50%;
}

@keyframes levitar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* MEIO DO SITE */

section.produtos{
    padding: 250px 12%;
}

.produtos .flex{
    gap: 60px;
}

.produtos .produtos-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top:  45px;
    transition: .4s;
}
.produtos .produtos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.421);
}

.produtos .produtos-box i{
    font-size: 70px;
    color: #b49d0a;
}

.produtos .produtos-box h3{
    font-size: 28px;
    margin: 15px 0;
    color:  rgb(232, 228, 228);
    text-shadow: #060606 4px 4px 17px;
    word-spacing: 10px; /* Esta propriedade controla o espaçamento entre as palavras do texto. */
}

.produtos .produtos-box p{
    color: #aaaaae;
    font-weight: 300;
    text-shadow: #060606 4px 4px 10px;
}

.cabecalho-home a{
   text-decoration:  none;
}





