/* ESTILO DA ABA MODA-FIT */

.primeira-parte-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.segunda-parte-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.titulo{
    padding: 0px 10px 200px 10px;
}

section.lista-produtos {
    padding: 0px 4%;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #cb09b5;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    margin-bottom: 100PX;
    
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cf;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .9s;
}

.overlay:hover {
    opacity: 1;
    text-shadow: 15px 9px 6px #fefefe78;
}

