@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0 ;
    padding: 0 ;  
    /* Define as margens(espaçamentos), dos títulos subtitulos paragrafos e etc.*/
}


body { 
    height: 100vh ;
    box-sizing: border-box ; /* Não havera possibilidade de a imagem sair de dentro do body! E o filho sempre ficara dentro do pai, mantendo a ordem conforme for sendo editado*/
    background-color: rgb(8, 30, 44);
    color: rgb(214, 201, 201);
}


.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__home{
    display:flex;
    gap: 80px;
   
}

.cabecalho__home__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(15, 125, 189);
    text-decoration: none;
}

.cabecalho__sobremim__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(15, 125, 189);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    /* margin: 10% 15%; Tamanho das margens na pagina */
    display: flex;/* Permite que haja uma ediçao na posição das marjens, é o elemento PAI*/
    align-items: center;/*Centraliza as margens na pagina*/
    justify-content: space-between;/* adiciona o espaçamento entre as margem*/
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%; /*Define a largura de uma area, mas se box-sizing estiver definido como border-box, define a largura da área da borda */
    display:flex;/* O flex permite a edição do elementos dentro do conteiner, para encaixar em qualquer tamanho de tela*/
    flex-direction: column;/*permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal.*/
    gap: 40px;/* Gap define os espaços (gutters (en-US)) entre as linhas e colunas. */
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;/*Altera o tamanho do texto*/
    font-family: 'Krona One', sans-serif;/*permite que se faça uma lista de prioridades de familias de fontes e/ou nomes genéricos de famílias a serem especificados para um elemento selecionado.*/
}

.titulo-destacado { /*PAI*/
    color: rgb(13, 89, 133); /*FILHO*/
}

.destaque-paragrafo { 
    color: rgb(235, 180, 135);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Mont Serrat', sans-serif;
}

img{
    width: 66%;
}

.apresentacao__links{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display:flex;
    justify-content: center;
    gap: 16px;
    width: 40%;
    text-align: center;
    border-radius: 8px;/* Esta propriedade permite arredondar as bordas de um elemento.*/
    font-size: 1.5rem;
    font-weight: 600;/*Peso da fonte*/
    padding: 21.5px 0;
    text-decoration: none;/*Decoração do texto dentro da padding*/
    color: rgb(249, 248, 248);
    font-family: 'Mont Serrat', sans-serif;
    border:2px solid #06728a;/*Define uma borda sólida no botão dos hyperlinks*/

}

.apresentacao__links__navegacao:hover{
    background-color: #06728a;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape{
    padding: 24px;
    color: rgb(8, 30, 44);
    background-color: #06728a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.tamanho__icon__insta{
    width: 10%;
}

.tamanho__icon__github{
    width: 9%;
}

@media (max-width: 1105px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__home {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
        
    }
}






